<% provide(:title, "カテゴリ - #{@taxon.name}") %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <%= render 'top_light_section', taxon: @taxon %>
      </div>
    </div>
  </section>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render 'side_bar', taxonomies: @taxonomies %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="row filterArea">
            <%= render 'filter_area' %>
          </div>
          <div id="show_products">
            <div class="row">
              <%= render partial: 'product', collection: @products %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= render 'bottom_light_section' %>
        </div>
      </div>
    </div>
  </section>
</div>