<div class="row">
  <div class="col-xs-6">
    <div class="page-title">
      <h2><%= product.name %></h2>
    </div>
  </div>
  <div class="col-xs-6">
    <ol class="breadcrumb pull-right">
      <li>
        <%= link_to "Home", potepan_path %>
      </li>
      <li class="active"><%= product.name %></li>
    </ol>
  </div>
</div>
