<div class="row singleProduct">
  <div class="col-xs-12">
    <div class="media">
      <%= render 'product_slider_image', product: product %>
      <%= render 'product_body_image', product: product %>
    </div>
  </div>  
</div>
